table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #3D0000;
  text-align: left;
  padding: 8px;
}

tr {
  background-color: #3D0000;
}
